.clock {
  font-size: 1.8rem;
  text-align: right;
  white-space: nowrap;
}

.clock h4 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.clock .time {
  font-size: 2rem;
}

.clock .sunrise-sunset {
  font-size: 1rem;
}

.clock .sunrise-sunset div {
  margin-top: 0.5rem;
  display: inline-block;
}

.clock .sunrise-sunset i {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.clock .show-current-weather {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #fff700;
  cursor: pointer;
}

.clock .show-current-weather:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 690px) {
  .clock {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #233a5c;
  }

  .clock h4 {
    text-align: left;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .clock .date {
    font-size: 1.2rem;
  }

  .clock .time {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }

  .clock .sunrise-sunset div {
    margin-top: 0;
  }

  .clock .sunrise-sunset {
    margin-right: 0.5rem;
  }

  .clock .show-current-weather {
    margin-top: 0;
  }
}