.forecast {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1350px;
  height: fit-content;
  overflow-x: hidden;
  color: white;
}

.forecast-card {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  min-width: 300px;
  height: fit-content;
  padding: 1rem;
  margin: 1%;
  font-size: 1.5rem;
  text-align: center;
}

.forecast-card .icon {
  font-size: 4rem;
  margin: 1rem 0 1rem 0;
}

.temperature {
  font-size: 1.2rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.temperature .temp {
  margin-right: 1rem;
}

.feels {
  color: #dbdbdb;
}