header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1350px;
  padding: 1rem 2rem;
}

.searchCity {
  position: relative;
  z-index: 1;
  width: 30rem;
  margin-right: 1rem;
}

.locations {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  max-height: 90vh;
  padding-top: 0;
  border-radius: 1rem;
  background-color: #00000000;
  font-size: 1rem;
  overflow-y: auto;
  transition: height 0.25s, padding-top 0.25s, background-color 0.25s;
}

.locations.active {
  padding-top: 2.5rem;
  height: 90vh;
  background-color: #000000ce;
}

.locations.active div {
  border-bottom: 1px solid #585858;
  padding: 0.3rem 0.6rem;
}

.locations div {
  border-bottom: none;
  padding: 0;
  cursor: pointer;
}

.locations div:hover {
  background-color: #0468eb;
}

.language {
  padding: 0.45rem 0.5rem;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.language option {
  background-color: #000000ce;
}

@media only screen and (max-width: 690px) {
  header {
    margin-top: 5rem;
  }
}