html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.header {
  background-color: #00a9ec;
}

.language {
  background-color: white;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-weight: bold;
  font-size: 1rem;
  padding: .25rem;
  border: 1px black solid;
}

.language:hover {
  cursor: pointer;
}

.searchCity {
  padding: 1rem;
  margin-bottom: -2rem;
  width: 30rem;
  max-width: 78vw;
}

.search {
  width: 100%;
  padding: .35rem .6rem .25rem .6rem;
  font-size: 1rem;
  border-radius: 0;
  border: 1px black solid;
  font-weight: bold;
}

.locations {
  position: absolute;
  width: 31.3rem;
  max-width: 70vw;
  height: fit-content;
  max-height: 33rem;
  font-size: 1rem;
  z-index: 1;
  background-color: #fff;
  overflow-y: auto;
}

.locations div {
  border-bottom: 1px solid #585858;
  padding: .3rem .6rem;
}

.locations div:hover {
  cursor: pointer;
  background-color: #0468eb;
  color: white;
}

.day-details {
  width: calc(100% - 4rem);
  text-align: left;
  padding: 1.5rem 2rem;
  height: fit-content;
  font-size: 1.1rem;
  float: left;
  margin-top: 1.5rem;
}

.day-details .big-icon {
  font-size: 5rem;
  width: 7rem;
  float: left;
  margin: 0 2rem 1rem 0;
  text-align: center;
}

.shown-day {
  position: absolute;
  margin-top: 7.5rem;
  text-align: center;
  font-weight: bold;
  z-index: -1;
  width: 7rem;
}

.shown-day .now {
  margin-top: .6rem;
}

.day-details .block1 {
  float: left;
  border-left: 1px solid gray;
  padding: .5rem 1.5rem;
  margin-top: .5rem
}

.day-details .block2 {
  float: left;
  border-left: 1px solid gray;
  padding: .5rem 1.5rem;
  padding-top: 1.25rem;
  margin-top: .5rem
}

.day-details .weather-description {
  width: calc(100% - 9rem);
}

.day-details .weather-description h3 {
  margin: 0;
  font-size: 2rem;
  width: 100%;
}

.day-details .temperature {
  width: fit-content;
  height: fit-content;
  text-align: center;
  float: left;
  margin-top: .3rem;
}

.day-details .temperature .temp {
  font-size: 1.3rem;
  font-weight: bold;
}

.day-details .temperature .feels {
  font-size: 1.1rem;
}

.day-details .visibility i {
  font-size: 2rem;
  position: absolute;
  margin-left: .4rem;
  margin-top: -.2rem
}

.day-details .wind i {
  font-size: 1.5rem;
  position: absolute;
  margin-left: .4rem;
  z-index: -1;
}

.day-details .beaufort i {
  font-size: 2rem;
  position: absolute;
  margin-left: .4rem;
  margin-top: -.2rem;
  z-index: -1;
}

.clock {
  font-size: 1.8rem;
  position: absolute;
  right: 0;
  top: 2rem;
  text-align: right;
  padding: 1.5rem 2rem;
  margin-top: 1.4rem;
}

.clock h4 {
  margin: 0;
  font-size: 2rem;
}

.clock .sunrise-sunset {
  font-size: 1rem;
}

.clock .sunrise-sunset div {
  margin-top: .5rem;
  display: inline-block;
}

.clock .sunrise-sunset i {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.clock .actual {
  margin-top: .5rem;
  font-size: 1rem;
  color: #0463b6;
}

.clock .actual:hover {
  cursor: pointer;
  text-decoration: underline;
}

.days-bar {
  border-top: 1px solid black;
  width: calc(100% - 2rem);
  text-align: center;
  margin: 1rem;
  height: fit-content;
  overflow-x: scroll;
  white-space: nowrap;
}

.days-bar::-webkit-scrollbar {
  height: .5rem;
}

.days-bar::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.days-bar::-webkit-scrollbar-thumb {
  background: #747474;
  border-radius: 1rem;
}

.days-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.day-weather {
  width: calc((calc(100% - 2rem) / 7) - 2rem);
  min-width: 8rem;
  padding: 1rem;
  display: inline-block;
  height: fit-content;
  font-size: 1.5rem;
  border-radius: .5rem;
  border: 1px #fff solid;
  transition: .1s;
}

.day-weather:hover {
  background-color: #e0f3ff;
  border: 1px #b8b8b8 solid;
  cursor: pointer;
}

.day .date {
  font-size: 1rem;
  color: #303030;
}

.icon {
  font-size: 3rem;
  margin: .5rem 0 .7rem 0;
}

.temperature {
  font-size: 1.2rem;
  width: 100% !important;
}

.temperature .real {
  display: inline-block;
  margin-right: 1rem;
}

.temperature .feels {
  display: inline-block;
  color: #494949;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 15px;
  }
  .day-details .weather-description h3 {
    width: calc(100% - 13.5rem);
    height: 8rem;
  }
  .day-details .big-icon {
    margin-bottom: 0;
  }
  .day-details .shown-day {
    width: auto;
    margin-top: 8rem;
    text-align: left;
  }
  .day-details .shown-day div {
    display: inline-block;
    margin-right: 1rem;
  }
  .day-details .shown-day .now {
    margin-top: 0;
    margin-left: -1rem;
  }
  .block1 {
    margin-top: 2rem !important;
    clear: both;
  }
  .block2 {
    clear: both;
    margin-top: 0 !important;
  }
  .day-details .temperature {
    text-align: left;
  }
  .days-bar {
    border-top: none;
  }
}

@media only screen and (max-width: 755px) {
  html {
    font-size: 14px;
  }
  .day-details {
    padding: .5rem 1rem;
  }
  .day-details .big-icon {
    margin-right: 1rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .day-details .weather-description h3 {
    text-align: left;
    float: left;
    width: calc(100% - 13.5rem);
    height: 7rem;
    margin-top: 1rem;
  }
  .day-details .shown-day {
    top: 4.5rem;
  }
  .day-details .block1 {
    margin-top: 2.5rem !important;
  }
}

@media only screen and (max-width: 550px) {
  body {
    text-align: center;
  }
  .language {
    top: .6rem;
    right: .5rem;
  }
  .header {
    position: sticky;
    top: 4.3rem;
  }
  .searchCity {
    padding: .6rem .5rem;
  }
  .clock {
    position: fixed;
    top: 0;
    text-align: center;
    padding: 0;
    background-color: #233a5c;
    padding: .5rem;
    height: 3.3rem;
    color: white;
    margin-top: 0;
  }
  .clock h4 {
    float: left;
    text-align: left;
    font-size: 1.5rem;
    min-width: 46vw;
  }
  .clock .date {
    font-size: 1.2rem;
    float: right;
    margin-top: .33rem;
  }
  .clock .time {
    font-size: 1.2rem;
    float: right;
    margin-top: .33rem;
    margin-right: .5rem;
  }
  .clock .sunrise-sunset {
    float: right;
  }
  .clock .actual {
    float: left;
    color: rgba(250, 234, 92, 0.89);
    margin-top: .2rem;
    text-decoration: underline;
  }
  .day-details {
    margin-top: 6rem;
    width: calc(100% - 2rem);
  }
  .day-details .shown-day {
    top: 8rem;
  }
  .day-details .block1 {
    margin-top: 2.2rem !important;
  }
  .day-details .weather-description {
    width: calc(100vw - 10rem);
    float: left;
  }
  .day-details .weather-description h3 {
    width: calc(100vw - 10rem);
    float: left;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .searchCity {
    max-width: 74%;
  }
}